<div class="growlIEWrapper">
    <div class="growlMessage"
     dojoAttachEvent="onmouseover:_hoverOver,onmouseout:_hoverOut,onclick:_focusControl" title="Click to select control in error">
        <div class="header"> 
        <div class="title">${controlLabel}</div>
	    <div class="close" dojoAttachEvent="onclick:close" title="Click to close"></div>
        </div>
        <p class="message">
            ${message}
        </p>
        <div class="icon"></div>
        <div class="footer"></div>
    </div>
</div>
